@import url("https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato", sans-serif;
}

@layer components {
  .button {
    @apply w-[49%] py-4  text-white bg-red rounded-lg text-sm font-medium transition duration-300;
  }

  .buttonOutline {
    @apply w-[49%] py-4 bg-transparent text-red border border-red rounded-lg text-sm font-medium transition duration-300;
  }

  .resources::-webkit-scrollbar {
    display: none;
  }
}

table {
  font-family: "Poppins", sans-serif;
}

.Mytable::-webkit-scrollbar {
  width: 5px;
}

.Mytable::-webkit-scrollbar-track {
  background: #141414;
  border-radius: 20px;
}

.Mytable::-webkit-scrollbar-thumb {
  background: #db1d60;
  border-radius: 20px;
}

.resources::-webkit-scrollbar {
  display: none;
}

.map-container {
  width: 100%;
  height: 30rem;
  border-radius: 1rem;
}

/* .MuiButtonBase-root > .PrivateSwitchBase-input {
  color: white !important;
  background-color: blue !important;
} */
.MuiButtonBase-root {
  overflow: hidden;
}

.MuiButtonBase-root > .MuiSvgIcon-root .MuiSvgIcon-fontSizeMedium {
  opacity: 1;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after,
.gm-style-iw-tc::after {
  background: rgba(0, 0, 0, 0.383);
  backdrop-filter: blur(24px);
  overflow: hidden;
}

.gm-style .gm-style-iw-tc::after {
  background: rgba(0, 0, 0, 0.383);
}
